{{/* layouts/partials/lang-toggle.html */}}

{{/* --- 1. Get Sorted Languages (Generic Logic) --- */}}
{{/* Sort all site languages by Weight. Index 0 is Left, Index 1 is Right. */}}
{{ $sorted := sort site.Languages "Weight" }}
{{ $leftLang := index $sorted 0 }}
{{ $rightLang := index $sorted 1 }}

{{/* --- 2. Determine Labels --- */}}
{{/* Try to read a custom param 'toggleLabel' from config, fallback to LanguageName */}}
{{ $leftLabel := $leftLang.Params.label | default $leftLang.LanguageName }}
{{ $rightLabel := $rightLang.Params.label | default $rightLang.LanguageName }}

{{/* --- 3. Determine Target Link --- */}}
{{ $targetLink := "" }}
{{ range .AllTranslations }}
  {{ if ne .Lang $.Lang }}
    {{ $targetLink = .Permalink }}
  {{ end }}
{{ end }}
{{ if eq $targetLink "" }}
  {{ range .Site.Home.AllTranslations }}
    {{ if ne .Lang $.Lang }}
      {{ $targetLink = .Permalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* --- 4. Determine Active State --- */}}
{{/* If current page lang matches the Right Language (Weight 2), set active class */}}
{{ $isRightActive := eq .Lang $rightLang.Lang }}

<a 
  href="{{ $targetLink }}" 
  class="lang-switch {{ if $isRightActive }}state-right{{ else }}state-left{{ end }}"
  onclick="handleLangSwitch(event, '{{ $targetLink }}')"
>
  <span class="switch-slider"></span>
  
  <span class="lang-text label-left">{{ $leftLabel }}</span>
  
  <span class="lang-text label-right">{{ $rightLabel }}</span>
</a>