{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <div class="card menu_pc" style="padding: 0.1rem;">
    <nav>
      <ul>
        <h1 class="title"><a href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a></h1>
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </nav>
  </div>

  <div class="menu_mobile">
    <div style="display: flex; flex-direction: row; align-items: center; width:100%">
      <h1 class="title"><a href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a></h1>
      <a href="javascript:void(0);" style="margin-left: auto;" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="menu_mobile_list" id="menuMobileList">
      <nav>
        <ul style="padding-left: 0;">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      </nav>
    </div> 
  </div>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      ><b>{{ $name }}</b></a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
