:root {
    --background-color: #fff4f4;
    --background-color-nav: #ffdbf4;
    --background-color-nav-hover: rgb(209, 164, 207);
    --background-color-post: #ffd2d2;
    --color: #222;
    --color-a: rgb(238, 0, 99);
    --color--heading: rgb(218, 77, 147);
}