:root {
    --background-color: oklch(97% 0.001 106.424);
    --background-color-card: oklch(98.5% 0.001 106.423);
    --background-color-card-hover: oklch(92.9% 0.013 255.508);
    --background-color-button: oklch(94.92% 0.00428 15.846);
    --color: oklch(14.7% 0.004 49.25);
    --color-a: oklch(59.336% 0.15058 245.389 / 0.774);
    --color-heading: oklch(37.2% 0.044 257.287);
    --color-tag: oklch(37.4% 0.01 67.558);
    --color-footer:rgb(122, 122, 122);
    --shadow-post: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --border-radius-default: 24px;
    --border-radius-button: 6px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: oklch(21% 0.006 285.885);
        --background-color-card: oklch(37% 0.013 285.805);
        --background-color-card-hover: oklch(55.2% 0.016 285.938);
        --background-color-button: oklch(44.4% 0.011 73.639);
        --color: oklch(98.5% 0.001 106.423);
        --color-a: oklch(80.9% 0.105 251.813);
        --color-heading: oklch(98.5% 0.001 106.423);
        --color-tag: oklch(95.6% 0.045 203.388);
        --color-footer:oklch(98.5% 0.001 106.423);
        --shadow-post: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        --border-radius-default: 24px;
        --border-radius-button: 6px;
    }
}
