body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 768px;
  background-color: #fff4f4;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(238, 0, 99);
  text-decoration: none;
}

nav {
  background: #ffdbf4;
  border-radius: 12px;

}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li{
  padding: 1rem;
}

nav ul li:hover{
  background-color: rgb(209, 164, 207);
  transition: background-color 0.3s;
}

h1.title {
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  color: rgb(218, 77, 147);
}

audio {
  width: 100%;
  margin-top: 1rem;
}

div.post {
  margin-block: 1rem;
  padding: 1rem;
  background-color: #ffcef0;
  border-radius: 8px;
}