{{ define "main" }}
  {{ .Content }}
  {{ range where site.RegularPages "Type" "post" }}
    <div class="card">
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <div>
        {{- with .Params.Tags }}
          {{- range . }}
            <span class="tag"><a href={{ "/tags/" | relURL }}{{ . | urlize }}><img src={{- (resources.Get "svg/tag.svg").RelPermalink }} width="16" height="16"> {{ . }}</a></span>
          {{- end }}
        {{- end }}
      </div>
      {{- if gt (len .Params.Summary) 0 }}
        {{ .Summary }}<br>
      {{- end}}
      {{ if .Params.download }}
        {{- range .Params.download }}
          {{- if and (eq .type "streaming") (gt (len .link) 0) }}
            <span class="download">
              <a href={{ .link }} target="blank">配信リリース</a>
            </span>
          {{- else}}
            <span class="download">
              <a href={{ .link }} target="blank"><img src={{- (resources.Get "svg/download.svg").RelPermalink }} width="16" height="16"> {{ .type }}</a>
            </span>
          {{- end }} 
        {{- end }}
      {{ end }}
      {{ if .Params.audio }}
        <audio controls preload="auto" src="{{ .Params.audio }}"></audio>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
