{{ define "main" }}
  <div class="page">
    <h1>{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    {{- if not .Date.IsZero }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{- end }}

    {{- with .Params.Audio}}
      <audio controls preload="auto" src="{{ . }}" style="margin-block: 1.5rem;" ></audio>
    {{- end }}

    {{- with .Params.download }}
      {{- range . }}
        {{- if and (eq .type "streaming") (gt (len .link) 0) }}
          <span class="download">
            <a href={{ .link }} target="blank">音楽配信</a>
          </span>
        {{- else}}
          <span class="download">
            <a href={{ .link }} target="blank"><img src={{- (resources.Get "svg/download.svg").RelPermalink }} width="16" height="16"> {{ .type }}</a>
          </span>
        {{- end }} 
      {{- end }}
    {{ end }}

    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
{{ end }}
